{% extends "layout/base.html" %}

{% block title %}Registro{% endblock  %}

{% block content %}


<p class="error"> {{error}} </p>
<main>     
    <form class="card card-body" method="POST" style="align-items: center; position: relative; ">
        {% csrf_token %}
            
        Usuario:  <p>{{ form.username }}</p>
        Contraseña: <p> {{ form.password1 }} </p>
        Confirmar Contraseña: <p> {{ form.password2 }} </p>
            
        <div class="col-12" style="text-align: center;">
            <input type="submit" value="Registrar" class = "btn btn-primary">
        </div>
    </form>
</main>


{% endblock  %}