{% extends 'layout/base.html' %}
{% block title %}Crear Tarea{% endblock %}
{% block content %}

<p class="error"> {{error}} </p>

<main>     
    <form class="card card-body" method="POST" style="align-items: center; position: relative; ">
            {% csrf_token %}
                
            Titulo  <p>{{ form.tittle }}</p>
            Descripcion <p> {{ form.description }} </p>
            <p> Importante  {{ form.important }} </p>
                
        <div class="col-12" style="text-align: center;">
            <input type="submit" value="Crear" class = "btn btn-primary">
        </div>
    </form>
</main>
{% endblock %}